# Files and folders to ignore
dataSet/
trainer/
.vscode
detectedUsersLog/
*.pyc
facialRecognition/__pycache__
*.pyc
facialRecognition/__pycache__
*.pyc
node/node_modules/
node/package-lock.json
node/public/img

