/* body{
    margin:0px 200px;
} */

/* img{
    width:300px;
    height: 200px;
} */
div.gallery {
    margin:8px 20px;
    padding-bottom: 30px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    
    background: #fff;
}

div.gallery:hover {
    border: 1px solid #43cea2;
}

div.gallery img {
    width: 100%;
    height: 200px;

}

div.desc {
    padding: 15px;
    text-align: center;
}

